@using Microsoft.AspNetCore.Authorization
@using OrchardCore.ContentManagement
@inject IAuthorizationService AuthorizationService

@{
    ContentItem contentItem = Model.ContentItem;
    var previewId = Guid.NewGuid();
    var hasPreviewOwnPermission = await AuthorizationService.AuthorizeAsync(User, OrchardCore.Contents.Permissions.PreviewOwnContent, contentItem);
    var hasPreviewPermission = await AuthorizationService.AuthorizeAsync(User, OrchardCore.Contents.Permissions.PreviewContent, contentItem);
}

<a id="previewButton" target="_blank" class="publish-button btn btn-info @((hasPreviewOwnPermission && contentItem.Owner == User.Identity.Name) || hasPreviewPermission ? String.Empty : "disabled")" href="@Url.Action("Index", "Preview", new { area = "OrchardCore.ContentPreview", id = previewId })">@T["Preview"]</a>

<div id="renderPreviewUrl" style="display:none" data-value="@Url.Action("Render", "Preview", new { area = "OrchardCore.ContentPreview" })" ></div>
<div id="contentItemType" style="display:none" data-value="@Model.ContentItem.ContentType"></div>
<div id="previewId" style="display:none" data-value="@previewId"></div>
<div id="previewContentItemId" style="display:none" data-value="@Model.ContentItem.ContentItemId"></div>
<div id="previewContentItemVersionId" style="display:none" data-value="@Model.ContentItem.ContentItemVersionId"></div>

<script asp-src="~/OrchardCore.ContentPreview/Scripts/contentpreview.edit.js" depends-on="admin" at="Foot"></script>
